<% provide(:title , 'About Us')%>
<!DOCTYPE HTML>
<html>
	<head>
		<title>Ruby On Rails | <%= yield(:title)%></title>
	</head>
		<body>

			<h1>About Us</h1>
			<p> This Is The About Us Page Off Shiko Site</p>


		</body>
</html>






				
	