<% provide(:title , 'Contact')%>				
<!DOCTYPE HTML>
	<html>
	<head>
		<title>Ruby On Rails | <%= yield(:title)%> </title>
	</head>
	<body>

			<h1>Contact</h1>
			<p>This Is The Contact Page For Shiko Web Site so we Can Get Together </p> 
	
	</body>
	</html>
