<div class="center hero-unit">
<% provide(:title , 'Home')%>

				<h1> Welcome To The Sample App </h1>

				<p> This Is The Home Page Off Shiko Site</p>
				<%= link_to "Sign up Now!" , signup_path , class:"btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png" , alt:"rails ") ,'http//rubyonrails.org' %>


		

