<% provide(:title , 'Home')%>
<!DOCTYPE HTML>
<html>
	<head>
		<title>Ruby On Rails | <%= yield(:title)%></title>
	</head>
		<body>
				<h1>Sample App</h1>
				<p> This Is The Home Page Off Shiko Site</p>

		</body>
</html>


